//fonts
$ff1-regular: 'robotoregular';
$ff1-medium: 'robotomedium';
$ff1-bold: 'robotobold';
$ff1-black: 'robotoblack';

//font sizes
$fs-11px: 0.6875rem;
$fs-12px: 0.75rem;
$fs-14px: 0.875rem;
$fs-15px: 0.9375rem;
$fs-16px: 1rem;
$fs-18px: 1.125rem;
$fs-20px: 1.25rem;
$fs-24px: 1.5rem;
$fs-36px: 2.25rem;

//colors
$mainText-color: #222222;
$primary-color: #666666;
$primaryLight-color: #999999;
//$secondary-light: #3D7399;